<div class="jumbotron jumbotron-fluid height100p banner" id="home">
    <div class="clouds">
        <img src="https://i.imgur.com/oy9pKJe.png" style="--i:1;">
        <img src="https://i.imgur.com/YteFhOs.png" style="--i:2;">
        <img src="https://i.imgur.com/DV64cGQ.png" style="--i:3;">
        <img src="https://i.imgur.com/tD0oJi2.png" style="--i:4;">
        <img src="https://i.imgur.com/7imjXAv.png" style="--i:5;">
        <img src="https://i.imgur.com/oy9pKJe.png" style="--i:10;">
        <img src="https://i.imgur.com/YteFhOs.png" style="--i:9;">
        <img src="https://i.imgur.com/DV64cGQ.png" style="--i:8;">
        <img src="https://i.imgur.com/tD0oJi2.png" style="--i:7;">
        <img src="https://i.imgur.com/7imjXAv.png" style="--i:6;">
    </div>
    <div class="container h100">
        <div class="contentBox h100">
            <div>
                <img src="https://i.imgur.com/dffSRwB.png">
            </div>
        </div>
    </div>
</div>
<app-sobre></app-sobre>
