<div class="jumbotron jumbotron-fluid height100p banner" id="home">
  <div class="container h100">
      <div class="contentBox h100">
          <div class="container">
            <div class="container recuadro">
              <div class="row">
                <div class="column middle">
                  <input type="text" value="TITULO" disabled>
                </div>
                <div class="column right">
                  <span class="dot" style="background:#ED594A;"></span>
                  <span class="dot" style="background:#FDD800;"></span>
                  <span class="dot" style="background:#5AC05A;"></span>
                </div>
              </div>

              <div class="content">
                <h3>TITULO</h3>
                <p class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum veniam perferendis eius ad quibusdam quia? Voluptates ab ad in ipsam recusandae cupiditate blanditiis ducimus provident error, expedita, veritatis at eos dolores repellendus, esse eaque illo atque. Fugit consequatur, consectetur culpa enim possimus placeat. Optio repellat earum nostrum culpa dolore fugit quis, sit rerum laborum odit, quia, consectetur ducimus! Dolorem vitae qui iste neque non eaque quo? Pariatur quas nostrum doloremque accusantium amet sit officiis nesciunt officia praesentium iure, molestiae, blanditiis voluptatibus quos repudiandae a iusto ad. Vitae, placeat. Voluptatum facere, reiciendis corrupti neque aspernatur reprehenderit expedita qui dignissimos similique ullam!</p>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
