<div class="jumbotron jumbotron-fluid height100p banner2" id="home">
  <div class="container h100">
      <div class="contentBox h100">
          <div class="container">
            <div class="container recuadro">
              <div class="row">
                <div class="column middle">
                  <input type="text" value="TITULO" disabled>
                </div>
                <div class="column right">
                  <span class="dot" style="background:#ED594A;"></span>
                  <span class="dot" style="background:#FDD800;"></span>
                  <span class="dot" style="background:#5AC05A;"></span>
                </div>
              </div>

              <div class="content">
                <h3>TITULO</h3>
                <p class="text-left">Texto de prueba, bla bla bla</p>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
