<div class="jumbotron jumbotron-fluid height100p banner" id="home">
  <div class="container h100">
      <div class="contentBox h100">
          <div class="container">
            <div class="container recuadro">
              <div class="row">
                <div class="column middle">
                  <input type="text" value="http://www.w3schools.com" disabled>
                </div>
                <div class="column right">
                  <span class="dot" style="background:#ED594A;"></span>
                  <span class="dot" style="background:#FDD800;"></span>
                  <span class="dot" style="background:#5AC05A;"></span>
                </div>
              </div>

              <div class="content">
                <h3>Browser Window</h3>
                <p>How to create a detailed browser window look with CSS.</p>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
